extends ../base
block content 
        section.main__form                            
            article#searchArticle
                    .main__form-title 
                        span 할인내역
                        .main__form-btn__container
                            a(href="javascript:;" id="preBtn" ) 이전
                            a(href="javascript:;" id="historyExcelBtn") 엑셀
                    .main__form-date 
                        p 시작일
                        p 종료일
                        input(type="text" id="startDate")
                        input(type="text" id="endDate")
                    input(type="text" maxlength="4" name="차량번호" placeholder="ex) 차량번호 4자리(선택사항)" id="inCarNo")
                    button(type="button" id="historyBtn") 조회
                    div(id="listDiv")
                        //- p.views 총 
                        //-     span 2
                        //-     span 건
                    //- div(id="listDiv" style="overflow-x:hidden; height:40vh;")
        script(src="/static/js/discount.js") 
        script(src="https://cdn.jsdelivr.net/npm/flatpickr") 
        script(src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js") 
        script(src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js") 
        script(src="https://npmcdn.com/flatpickr/dist/l10n/ko.js") 
        script.
            flatpickr.localize(flatpickr.l10ns.ko);

            flatpickr("#startDate", {
                local: 'ko',
                mode:'range',
                defaultDate:  ['today','today'],
                plugins: [new rangePlugin({ input: "#endDate"})],
                static:true
            });
        include ../partials/footer