doctype html
html(lang="ko")
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes")
        title 웹 할인#{pageTitle !== undefined ? `::${pageTitle}` : ''}
        link(rel="canonical", href="http://59.15.58.143")
        meta(name="description", content="차별화된 Orange Parking 솔루션")
        meta(property="og:locale", content="ko_KR")
        //- link(rel="shortcut icon", href="/client/img/favicon.ico", type="image/x-icon")
        //- link(rel="stylesheet", href="/client/css/swiper.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        script(src="https://kit.fontawesome.com/e07b3cc652.js" crossorigin="anonymous")
        script(src="/static/js/common.js") 
    body
        if loggedIn
            include ./partials/nav       
        block content
        