extends base
block content 
    link(rel="stylesheet", href="/client/css/swiper.css")
    //- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    header 
        nav 
            img(src="/client/img/logo.gif", alt="이미지를 찾을 수 없습니다...", style="width:110px;")
    main 
        //- .title CCTV
        script(src="/client/js/jsmpeg.min.js") 
        .swiper-container.mySwiper#cctvInfo(data-cnt=CCTV_CNT, data-ip=SERVER_IP)
            .swiper-wrapper
            br
            .swiper-pagination
        script(src="/client/js/cctv.js") 
        script(src="/client/js/swiper.js") 
        script(src="/client/js/swiperInit.js") 
        //- .title 차단기 제어
        .content#content
            .content-item(data-action="open")
                div     
                    h1 열림
                    h3 차단기를 올립니다.
                div    
                    img(src="/client/img/up.png", alt="이미지를 찾지 못했습니다.")
            .content-item(data-action="close")
                div     
                    h1 내림
                    h3 차단기를 내립니다.
                div    
                    img(src="/client/img/close.png", alt="이미지를 찾지 못했습니다.")
        include ./partials/footer