extends base
block content 
    link(rel="stylesheet", href="/client/css/swiper.css")
    //- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    body                        
        header 
            nav 
                //- img(src="/client/img/logo.gif", alt="이미지를 찾을 수 없습니다...", style="width:110px;")
                div(onclick="location.href='http://localhost:8090/main.jsp'") CMCNI
                div.dropdown
                    i.fas.fa-bars
                    .dropdown-content 
                        div(onclick="location.href='http://localhost:8090/myPage.jsp'")
                            i.fas.fa-user  마이페이지
                        div(onclick="location.href='http://localhost:8090/update.jsp'")
                            i.fas.fa-lock  암호변경
                        div(onclick="location.href='http://localhost:8090/history.jsp'")
                            i.fas.fa-chart-bar  할인내역
                        div(onclick="location.href='http://localhost:8090/logout.jsp'")
                            i.fas.fa-sign-out-alt  로그아웃
        main 
            //- .title CCTV
            script(src="/client/js/jsmpeg.min.js") 
            .swiper-container.mySwiper#cctvInfo(data-cnt=CCTV_CNT, data-ip=SERVER_IP)
                .swiper-wrapper
                br
                .swiper-pagination
            script(src="/client/js/cctv.js") 
            script(src="/client/js/swiper.js") 
            script(src="/client/js/swiperInit.js") 

            //- .title 차단기 제어
            .content#content
                .content-item(data-action="@open") 차단기 올림
                .content-item(data-action="@close") 차단기 내림
        script(src="/static/js/gate.js") 
        include ./partials/footer