extends base
block content
    header.login__logo
        h1 CMCNI
    form(action="", method="post") 
        section.login__form
            article
                input(type="text" placeholder="아이디")
                input(type="password" placeholder="비밀번호")
                button 로그인