extends base
block content
    header.login__logo
        h1 CMCNI
    section.login__form
        article
            input(type="text" placeholder="아이디")
            input(type="password" placeholder="비밀번호")
            div
                input(type="checkbox", name="saveInfo" id="saveInfo")
                label(for="saveInfo") 아이디 저장
            button 로그인
            img(src="http://59.15.58.146/dist/img/image.jpg", alt="이미지 로드 실패", srcset="")    