<<<<<<< HEAD
extends base
block content 
    body                        
        .permisson__container 
            .icon__box 
                span !
            .text__box 
                h1 페이지에 접근할 수 없습니다.
                h3 사유: 권한이 없거나 잘못된 접근입니다.
            .redirect__box(onclick="location.href='/'") 
                i.fas.fa-undo 
=======
extends base
block content 
    body                        
        .permisson__container 
            .icon__box 
                span !
            .text__box 
                h1 페이지에 접근할 수 없습니다.
                h3 사유: 권한이 없거나 잘못된 접근입니다.
            .redirect__box(onclick="location.href='/'") 
                i.fas.fa-undo 
>>>>>>> c9d84b091ea547458fa74f9e2f81790c122b25bd
                    span 돌아가기