@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f6f9fc;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  body {
    margin: 0px auto;
    width: 25%;
    font-size: 16px;
    top: auto;
    left: auto;
    position: relative;
  }
}
main {
  width: 90%;
  margin: 40px 0 20px 0;
  border-top: 2px solid #012D6B;
  padding: 10px 0px;
  align-self: center;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.08);
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0px 33px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: #c8c8c8 0px 1px 1px 0px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #012D6B;
  font-size: 20px;
  font-weight: 500;
}
nav div:last-child {
  color: #f8981c;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  right: -10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  color: #012D6B;
}
.dropdown-content a {
  color: #012D6B !important;
  padding: 15px 20px;
  font-size: 14px !important;
  text-decoration: none;
  display: block;
}
.dropdown-content a i {
  margin-right: 5px;
}
.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.footer-container {
  margin: 0 20px;
  padding: 15px 0;
  border-top: 0.5px solid #c1c1c1;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  color: #999;
}

.title {
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  height: 20px;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.content {
  width: 100%;
  height: auto;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.content-item {
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  background-color: #012D6B;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.content-item:last-child {
  background-color: #f8981c;
}

#target {
  height: 100px;
  background-color: #012D6B;
  opacity: 0;
}

.chanel {
  padding: 0px 20px;
}

canvas {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.permisson__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.permisson__container .icon__box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #012D6B;
  margin: 30px 0;
  width: 70px;
  height: 70px;
  border-radius: 3%;
}
.permisson__container .icon__box span {
  margin-top: -5px;
  font-size: 120px;
  font-weight: 600;
}
.permisson__container .text__box {
  opacity: 0.8;
}
.permisson__container .text__box h1 {
  font-size: 1.5rem;
  margin: 20px;
}
.permisson__container .text__box h3 {
  text-align: center;
  font-size: 16px;
}
.permisson__container .redirect__box {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 2px;
  margin: 20px 0;
  color: #999;
  opacity: 0.6;
  font-size: 1rem;
}
.permisson__container .redirect__box i span {
  font-weight: bold;
}

.login__logo {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  height: 12vh;
}
.login__logo h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #012D6B;
}

.login__form {
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
}
.login__form article {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  height: auto;
}
.login__form article input {
  padding: 15px;
  border-radius: 0;
  border: 1px solid #c8c8c8;
  margin-bottom: 15px;
  background-color: transparent;
  transition: all 0.3s linear;
}
.login__form article input:focus {
  border-color: #f8981c;
}
.login__form article p {
  color: tomato;
  font-size: 0.8rem;
  margin: 5px 0;
}
.login__form article button {
  width: 100%;
  padding: 15px 0px;
  border-radius: 0;
  border-color: transparent;
  background-color: #012D6B;
  color: white;
  font-size: 1.3rem;
  transition: all 0.25s linear;
}
.login__form article button:hover {
  background-color: #f8981c;
}
.login__form article img {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-top: 30px;
}

.main__form {
  width: 90%;
  margin: 40px 0 20px 0;
  border-top: 2px solid #012D6B;
  padding: 15px 0px;
  align-self: center;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.08);
}
.main__form article {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  height: auto;
}
.main__form article .main__form-title {
  border-bottom: 1px solid #eee;
}
.main__form article .main__form-title span {
  display: inline-block;
  padding: 10px;
  color: #012D6B;
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px solid #eee;
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.main__form article .main__form-title .main__form-btn__container {
  display: inline;
  float: right;
  font-size: 0.8rem;
  z-index: 2;
  margin-top: 3px;
}
.main__form article .main__form-title .main__form-btn__container a {
  background-color: #012D6B;
  color: white;
  padding: 6px 18px;
}
.main__form article .main__form-title .main__form-btn__container a:first-child {
  margin-right: 10px;
}
.main__form article .main__form-title .main__form-btn__container a:first-child:hover {
  color: #012D6B;
  border: 1px solid #012D6B;
  background-color: transparent;
  transition: all 0.3s linear;
}
.main__form article .main__form-title .main__form-btn__container a:last-child {
  background-color: transparent;
  color: #f8981c;
  border: 1px solid #f8981c;
}
.main__form article .main__form-title .main__form-btn__container a:last-child:hover {
  background-color: #f8981c;
  color: white;
  transition: all 0.3s linear;
}
.main__form article h6 {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #808080;
}
.main__form article input {
  margin-top: 15px;
  padding: 15px;
  border-radius: 0;
  border: 1px solid #c8c8c8;
  margin-bottom: 15px;
  background-color: transparent;
  transition: all 0.3s linear;
  box-sizing: border-box;
  width: 100%;
}
.main__form article input:focus {
  border-color: #f8981c;
}
.main__form article button {
  width: 100%;
  padding: 15px 0px;
  box-sizing: border-box;
  border-radius: 0;
  border-color: transparent;
  background-color: #012D6B;
  color: white;
  font-size: 1rem;
  transition: all 0.25s linear;
}
.main__form article button:hover {
  opacity: 0.9;
}
.main__form article img {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-top: 30px;
}

.search__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 1px dashed #eee;
}
.search__container .search__img {
  margin: 15px 0 10px 0;
  width: 40%;
  height: 85px;
  margin-right: 10px;
  border: 2px #012d6b solid;
}

.search__info,
.discount__info {
  color: #999;
}
.search__info p,
.discount__info p {
  font-size: 0.85rem;
  margin: 7px 0;
}
.search__info p:first-child,
.discount__info p:first-child {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.coupon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.coupon__container .coupon__container-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.coupon__container .coupon__container-type h6 {
  width: 30%;
  display: flex;
  justify-content: center;
  color: #012D6B !important;
  font-size: 1.1rem !important;
  font-weight: 600;
  margin-top: 5px;
}
.coupon__container .coupon__container-type select {
  width: 70%;
  padding: 18px 10px;
  background-color: #012D6B;
  border: 0;
  color: white;
  font-size: 1.2rem;
  align-self: center center;
  outline: none;
}

.discount__container {
  width: 100%;
  height: auto;
}
.discount__container .discount__header {
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #012D6B;
  color: white;
}
.discount__container .discount__info-container {
  display: flex;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: 1px solid #012D6B;
}
.discount__container .discount__info-container .discount__info {
  width: 80%;
}
.discount__container .discount__info-container .discount__info-delete {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.1rem;
  cursor: pointer;
  color: #f8981c;
}

.nodata__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 30px;
  color: #012D6B;
  gap: 40px;
}
.nodata__container i {
  font-size: 4.5rem;
}
.nodata__container p {
  font-size: 0.9rem;
  font-weight: 600;
}

.test {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #012D6B;
}
.test p {
  margin: 10px 0;
}
.test p:first-child {
  font-size: 2rem;
}

/*input 은 숨겨주기*/
input#saveUserInfo {
  display: none;
}

/*input 바로 다음의 label*/
input#saveUserInfo + label {
  cursor: pointer;
}

/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
input#saveUserInfo + label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  vertical-align: middle;
  /*체크 전과 체크 후 높이 차이 때문에 설정*/
  margin: 5px 5px 5px 0;
}

/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/
input#saveUserInfo:checked + label:before {
  content: "";
  /*폰트어썸 유니코드*/
  font-family: "Font Awesome 5 free";
  /*폰트어썸 아이콘 사용*/
  font-weight: 900;
  /*폰트어썸 설정*/
  color: #fff;
  background-color: #012D6B;
  border-color: transparent;
  border-radius: 4px;
  font-size: 13px;
  text-align: center;
  margin: 5px 5px 5px 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
