script(src="/client/flatpickr/flatpickr.js") 
script(src="/client/flatpickr/flatpickr.rangePlugin.js") 
script(src="/client/flatpickr/flatpickr.min.js") 
script(src="/client/flatpickr/flatpickr.ko.js") 