header 
    //- nav(style="display: flex; justify-content: space-between; align-items: center; height: 30px;")
    //-     div(style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;")
    //-         a(href="/") CMCNI
    //-         a(style="font-size:0.8rem") 장위뉴타워
    nav
        a(href="/") CMCNI
        .dropdown
            button(class="dropbtn")
                i.fas.fa-bars.dropbtn
            .dropdown-content
                a(href="/my-page")
                    i.fas.fa-user  &nbsp 마이페이지
                a(href="/password")
                    i.fas.fa-lock &nbsp 암호변경
                a(href="/discount/history")
                    i.fas.fa-chart-bar &nbsp 할인내역 #{userInfo}
                //a(href="/discount/exchange")
                //    i.fas.fa-handshake &nbsp 할인권교환 #{userInfo}                    
                if user.authLevel === "0" || user.authLevel === "1"
                    a(href="/admin/sale-coupon")
                        i.fas.fa-cog &nbsp 기타설정 
                a(href="/logout")
                    i.fas.fa-sign-out-alt &nbsp 로그아웃