extends ../base
block content 
        section.main__form                            
            article.password
                .main__form-title 
                    span 암호변경
                    .main__form-btn__container
                        a(href="/" id="preBtn" ) 이전
                input(type="password" maxlength="15" name="oldPassword" id="oldPassword" placeholder="ex) 현재 비밀번호" )
                input(type="password" maxlength="15" name="newPassword" id="newPassword" placeholder="ex) 새 비밀번호")
                input(type="password" maxlength="15" name="newPasswordCheck" id="newPasswordCheck" placeholder="ex) 새 비밀번호 확인" )
                button(type="button" id="updBtn") 변경
        script(src="/static/js/common.js") 
        include ../partials/footer
